.admin-menu {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 650px;
    padding-top: 50px; 

    &__input {
        margin-right: 50px;
        border: 2px solid #bbbbbb;
        border-radius: 5px;
        border-color: rgb(187, 187, 187);
        padding: 0 0 0 10px;
        width: 250px;
    }

    &__input::placeholder {
        color: #bbbbbb;
    }

    &__results-table {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 50px;
        text-align: center;
        align-items: center;
        font-weight: 300;
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        height: auto;

        td,
        th {
            border: 1px solid black;
            padding: 10px 50px;
        }
        td {
            font-weight: 400;
        }
    }

    &__button {
        width: 250px;
    }

    &__header-table {
        background-color: #e1e1e1;
    }

    &__edit-button {
        background-color: #7bf39f;
        // border: 1px solid black;
        border-radius: 5px;
        padding: 2px 5px;
        font-weight: 400;
    }

    &__delete-button {
        background-color: #eb7878;
        // border: 1px solid black;
        border-radius: 5px;
        padding: 2px 5px;
        font-weight: 400;
    }

    &__delete-button:hover {
        background-color: #eb4848;
        transition: .2s ease;
    }

    &__edit-button:hover {
        background-color: #38c663;
        transition: .2s ease-in-out;
    }

    &__content:nth-child(odd) {
        background-color: #e2e2e2;
    }
}