.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 150px;
    background-color: #3C75AC;
    
    &__logo {
        width: 120px;
    }

    &__title {
        text-transform: uppercase;
        color: #fff; 
        font-size: 20px;
        text-decoration: none;
    }
 
    &__exit,
    &__office, 
    &__login {
        padding: 0;
        background-color: inherit;
        border: none;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 15px;
        text-decoration: none;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;
        padding-bottom: 2px; 
    } 

    &__office {
        margin-right: 10px;
    }

    &__exit:hover,
    &__office:hover,
    &__login:hover {
        background-size: 100% 2px;
        cursor: pointer;
    }
  }

  // media queries 

  @media screen and (max-width: 1200px) {
    .header {
        padding: 25px 75px;

        &__title {
            font-size: 16px;
        }

        &__logo {
            width: 100px;
        }

        &__office,
        &__exit,
        &__login {
            font-size: 12px;
        }
    }
  } 

  @media screen and (max-width: 992px) {
    .header {
        padding: 20px 40px;

        &__title {
            font-size: 14px;
        }

        &__logo {
            width: 75px;
        }
    }
  }

@media screen and (max-width: 768px) {
    .header {
        &__title {
            width: 320px;
            text-align: center;
            line-height: 20px;
            font-size: 12px;
        }

        &__office,
        &__exit,
        &__login {
            font-size: 11px;
        }
    }
}

@media screen and (max-width: 576px) {
    .header {
        padding: 15px 25px;

        &__menu {
            text-align: right;
            align-items: center;
        }

        &__office,
        &__login {
            margin-right: 0px;
            line-height: 30px;
        }
    }
}